@font-face {
  font-family: 'DM Sans';
  src: local('DM Sans'),
    url('../../fonts/DMSans-Regular.ttf') format('truetype'),
    url('../../fonts/DMSans-Medium.ttf') format('truetype'),
    url('../../fonts/DMSans-Bold.ttf') format('truetype'),
    url('../../fonts/DMSans-Italic.ttf') format('truetype');
  font-display: swap;
}

body {
  color: var(--black);
  background-color: var(--white-smoke);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.back-to-top {
  background: var(--dark-gray);
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  bottom: -50px;
  padding: 10px 9px;
  right: 30px;
  cursor: pointer;
  transition: 0.3s all;
  height: 40px;
  width: 40px;
}

.scroll-arrow {
  fill: var(--white);
}

.back-to-top.active {
  bottom: 30px;
  transition: 0.3s all;
}

.section {
  border-radius: 30px;
}

.privacy-page {
  padding-top: 70px;
  padding-bottom: 20px;
}

.terms-page {
  padding-top: 70px;
  padding-bottom: 20px;
}

.footer-privacy {
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid var(--black);
}

.logo-privacy {
  font-weight: 700;
  color: var(--black);
  line-height: 1.12;
  letter-spacing: -0.02em;
  margin-right: 40px;
}

.privacy-text-off{
  display: none;
}

.privacy-social-list {
  display: none;
}

.footer-terms {
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid var(--black);
}

.logo-terms {
  font-weight: 700;
  color: var(--black);
  line-height: 1.12;
  letter-spacing: -0.02em;
  margin-right: 40px;
}

.terms-text-off {
  display: none;
}

.terms-social-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .section {
    border-radius: 50px;
  }

  .privacy-page {
    padding-top: 130px;
    padding-bottom: 40px;
  }

  .terms-page {
    padding-top: 130px;
    padding-bottom: 40px;
  }

  .footer-privacy {
    justify-content: space-between;
  }

  .logo-privacy {
    margin-right: 0;
  }

  .privacy-text-off {
    display: contents;
  }

  .privacy-social-list {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .privacy-social-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 10px;
    fill: var(--dark-gray);
    border: 1px solid rgba(126, 132, 127, 0.2);
    opacity: 0.8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .privacy-social-card:hover,
  .privacy-social-card:active {
    fill: var(--dark-gray-hover);
    background-color: rgba(126, 132, 127, 0.2);
  }

  .footer-terms {
    justify-content: space-between;
  }

  .logo-terms {
    margin-right: 0;
  }

  .terms-text-off{
    display: contents;
  }
  
  .terms-social-list {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .terms-social-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 10px;
    fill: var(--dark-gray);
    border: 1px solid rgba(126, 132, 127, 0.2);
    opacity: 0.8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .terms-social-card:hover,
  .terms-social-card:active {
    fill: var(--dark-gray-hover);
    background-color: rgba(126, 132, 127, 0.2);
  }
}
.loader {
  width: 48px;
  height: 48px;
  margin-left: 50%;
  margin-top: 150px;
  position: fixed;
  border: 5px solid var(--dark-gray);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 999;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 