@font-face {
  font-family: 'DM Sans';
  src: local('DM Sans'),
    url('../../fonts/DMSans-Regular.ttf') format('truetype'),
    url('../../fonts/DMSans-Medium.ttf') format('truetype'),
    url('../../fonts/DMSans-Bold.ttf') format('truetype'),
    url('../../fonts/DMSans-Italic.ttf') format('truetype');
}

body {
  color: var(--black);
  background-color: var(--white-smoke);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  border-radius: 30px;
}

.back-to-top {
  background: var(--white);
  border-radius: 30%;
  position: fixed;
  z-index: 999;
  bottom: -50px;
  padding: 10px 12px;
  right: 50px;
  cursor: pointer;
  transition: 0.3s all;
}

.back-to-top.active {
  bottom: 50px;
  transition: 0.3s all;
}

@media screen and (min-width: 768px) {
  .section {
    border-radius: 50px;
  }
}
