@font-face {
  font-family: 'DM Sans';
  src: local('DM Sans'),
    url('../../fonts/DMSans-Regular.ttf') format('truetype'),
    url('../../fonts/DMSans-Medium.ttf') format('truetype'),
    url('../../fonts/DMSans-Bold.ttf') format('truetype'),
    url('../../fonts/DMSans-Italic.ttf') format('truetype');
  font-display: swap;
}

body {
  color: var(--black);
  background-color: var(--white-smoke);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.back-to-top {
  background: var(--dark-gray);
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  bottom: -50px;
  padding: 10px 9px;
  right: 30px;
  cursor: pointer;
  transition: 0.3s all;
  height: 40px;
  width: 40px;
}

.scroll-arrow {
  fill: var(--white);
}

.back-to-top.active {
  bottom: 30px;
  transition: 0.3s all;
}

.section {
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .section {
    border-radius: 50px;
  }
}

.loader {
  width: 48px;
  height: 48px;
  margin-left: 50%;
  margin-top: 150px;
  position: fixed;
  border: 5px solid var(--dark-gray);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 999;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 