.exercises-gallery-background {
  background: var(--light-gray);
  padding: 40px 20px;
  border-radius: 30px;
  margin-bottom: 16px;
  width: 100%;
}

.exercises-gallery-label {
  font-size: 32px;
  color: var(--black);
  font-weight: 400;
  line-height: 1;
}

.filter-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exercises-gallery-filter {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.filter-button {
  color: var(--black);
  background: var(--white-smoke);
  padding: 7px 14px 7px 14px;
  border-radius: 30px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
  border-style: none;

  box-sizing: border-box;
  resize: none;
}

.exercises-gallery-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.exercises-item {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  background: rgba(16, 16, 16, 0.7);
  overflow: hidden;
}

.exercises-item-background {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(27, 27, 27, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.exercises-item-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 16, 16, 0.7);
  z-index: 100;
}

.exercises-item-background:hover,
.exercises-item-background:focus {
  transform: scale(1.03);
  box-shadow: 5px 10px 15px var(--dark-gray);
  cursor: pointer;
}

.text-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  letter-spacing: 0.05em;
  font-weight: 400;
  line-height: 1;
  color: var(--white-smoke);
  text-align: center;
  z-index: 102;
}

.text-card::first-letter {
  text-transform: capitalize;
}

.type-card {
  color: rgba(246, 246, 246, 0.4);
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.image-container {
  position: relative;
  width: 100%;
}

.page-buttons-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.page-button {
  border-radius: 18px;
  background-color: transparent;
  color: rgba(27, 27, 27, 0.4);

  width: 31px;
  height: 32px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
}

.page-button.active {
  color: var(--black);
  border: 1px solid var(--black);
}

.search-tool {
  position: relative;
}

.icon-search {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(90%) translateX(-100%);
  cursor: pointer;
}

/* **************WORKOUTSPACE******** */
.gallery-item-list {
  width: 295px;
  height: 165px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(27, 27, 27, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gallery-button-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border-color: transparent;
  background-color: transparent;
}

.gallery-item-list:hover {
  transform: scale(1.03);
  box-shadow: 5px 10px 15px var(--dark-gray);
  cursor: pointer;
}

.start-workout-icon {
  margin-left: 8px;
  width: 14px;
  height: 14px;
}

.workout-and-rating {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.workout-items-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating-title-item {
  display: flex;
  gap: 4px;
  color: var(--black);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  align-items: center;
}

.workout-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26px;
  margin-bottom: 25px;
}

.workout-header-wrap {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.workout-item-title {
  width: 76px;
  color: var(--white-smoke);
  font-size: 12px;
  font-weight: 500;
  border-radius: 15px;
  background: var(--dark-gray);
  display: inline-flex;

  justify-content: center;
  align-items: center;
}

.start-button-wrap {
  display: flex;
  align-items: center;
}

/* ------WORKOUT TYPE STYLES -------*/
.workout-type-item {
  display: flex;
  align-items: center;
}

.workout-name-item {
  color: var(--black);
  font-size: 20px;
  line-height: 1.33;
  margin-left: 16px;
  max-width: 223px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.workout-name-item::first-letter,
.description-item-value::first-letter {
  text-transform: capitalize;
}

/* ----WORKOUT DESCRIPTION STYLES -----*/

.workout-description {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  row-gap: 6px;
}

.description-item-name {
  display: flex;
  gap: 4px;
  color: rgba(27, 27, 27, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  gap: 4px;
}

.description-item-value {
  color: var(--black);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .exercises-gallery-background {
    border-radius: 50px;
    padding: 64px 48px;
  }

  .exercises-gallery-label {
    font-size: 44px;
  }

  .filter-kit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .exercises-gallery-filter {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .filter-button {
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 1.5em;
    border-style: none;
    box-shadow: 5px 5px 10px rgba(27, 27, 27, 0.2);
    box-sizing: border-box;
    resize: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .filter-button:hover,
  .filter-button:focus {
    transform: scale(1.03);
    box-shadow: 5px 10px 15px var(--dark-gray);
  }

  .exercises-gallery-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 28px;
    gap: 14px;
  }

  .exercises-item-background {
    width: 313px;
    height: 250px;
  }

  .text-card {
    font-size: 24px;
  }

  .page-buttons-container {
    margin-top: 32px;
  }

  .gallery-item-list {
    width: 313px;
  }

  .start-workout-icon {
    margin-left: 8px;
    width: 16px;
    height: 16px;
  }

  .workout-name-item {
    max-width: 239px;
  }
}

@media screen and (min-width: 1440px) {
  .exercises-gallery-background {
    padding: 64px 48px;
  }
  .exercises-gallery-label {
    font-size: 44px;
  }

  .text-card {
    font-size: 24px;
  }
  .exercises-gallery-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 40px;
  }

  .exercises-item-background {
    width: 313px;
    height: 250px;
    box-sizing: border-box;
  }
  .gallery-item-list {
    width: 424px;
    height: 141px;
  }

  .workout-name-item {
    max-width: 352px;
  }
}
