.exercises-gallery-background {
  background: var(--light-gray);
  width: 335px;
  padding: 40px 20px 40px 20px;
  border-radius: 50px;
  margin-bottom: 16px;
  width: 100%;
}

.exercises-gallery-label {
  font-size: 32px;
  color: var(--black);
  font-weight: 400;
  line-height: 1;
}

.filter-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exercises-gallery-filter {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.filter-button {
  color: var(--black);
  background: var(--white-smoke);
  padding: 7px 14px 7px 14px;
  border-radius: 30px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
  border-style: none;

  box-sizing: border-box;
  resize: none;
}

.exercises-gallery-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.exercises-item {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  background: rgba(16, 16, 16, 0.7);
  overflow: hidden;
}

.exercises-item-background {
  position: relative;
  width: 295px;
  height: 232px;
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  overflow: hidden;
}

.exercises-item-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 16, 16, 0.7);
  z-index: 100;
}

.text-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  letter-spacing: 0.05em;
  font-weight: 400;
  line-height: 1;
  color: #f6f6f6;
  text-align: center;
  z-index: 102;
}

.text-card::first-letter {
  text-transform: capitalize;
}

.type-card {
  color: rgba(246, 246, 246, 0.4);
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.image-container {
  position: relative;
  width: 100%;
}

.page-buttons-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.page-button {
  border-radius: 18px;
  background-color: transparent;
  color: rgba(27, 27, 27, 0.4);

  width: 31px;
  height: 32px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
}

.page-button.active {
  color: #1b1b1b;
  border: 1px solid #1b1b1b;
}

.search-tool {
  position: relative;
}

.icon-search {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(90%) translateX(-100%);
}

@media screen and (min-width: 768px) {
  .exercises-gallery-background {
    padding: 64px 48px 64px 48px;
  }
  .exercises-gallery-label {
    font-size: 44px;
  }

  .filter-kit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .exercises-gallery-filter {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .filter-button {
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 1.5em;
    border-style: none;

    box-sizing: border-box;
    resize: none;
  }

  .exercises-gallery-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
  }

  .exercises-item-background {
    width: 313px;
    height: 250px;
  }

  .text-card {
    font-size: 24px;
  }

  .page-buttons-container {
    padding-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .exercises-gallery-background {
    padding: 64px 48px 64px 48px;
    width: 1408px;
  }
  .exercises-gallery-label {
    font-size: 44px;
  }

  .text-card {
    font-size: 24px;
  }
  .exercises-gallery-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: -20px;
  }

  .exercises-item-background {
    width: 313px;
    height: 250px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
}