.give-rating-btn-send:hover {
  background-color: var(--dark-gray-hover);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.give-rating-email,
.give-rating-comment {
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .modal-give-rating {
    margin-top: 40px;
    max-width: 335px;
    height: 357px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 20px;
    border-radius: 20px;
    background: var(--white-smoke);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hidden {
    display: none;
  }
  .give-rating-close {
    position: absolute;
    right: 14px;
    top: 14px;
    margin-bottom: 2px;
    border: none;
    background: var(--white-smoke);
  }
  .icon-x {
    color: #1b1b1b;
    border: none;
  }
  .give-rating-form-review {
    color: rgba(27, 27, 27, 0.4);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
    padding-top: 40px;
  }
  .give-rating-p1-stars {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-bottom: 20px;
  }
  .give-rating-p1 {
    color: var(--black);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }
  .give-rating-stars {
    display: flex;
    width: 24px;
    height: 24px;
  }
  .li-star {
    fill: #7e847f;
  }
  .li-unselected {
    fill: #7e847f;
  }
  .li-selected {
    fill: #eea10c;
  }
  .li-star:hover {
    fill: #eea10c;
  }
  .give-rating-email {
    width: 295px;
    height: 42px;
    display: inline-flex;
    padding: 12px 0px 12px 14px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid rgba(27, 27, 27, 0.4);
    color: rgba(27, 27, 27, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    margin-bottom: 10px;
  }
  .give-rating-comment {
    width: 295px;
    height: 43px;
    display: flex;
    padding: 12px 0px 63px 14px;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid rgba(27, 27, 27, 0.4);
    resize: none;
    color: rgba(27, 27, 27, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
  }
  .give-rating-btn-send {
    color: var(--white-smoke);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    display: flex;
    width: 295px;
    height: 42px;
    padding: 12px 131px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    border: none;
    background: var(--dark-gray);
  }
}

@media screen and (min-width: 768px) {
  .modal-give-rating {
    margin-top: 50px;
    width: 450px;
    height: 432px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 50px;
    border-radius: 20px;
    background: var(--white-smoke);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hidden {
    display: none;
  }
  .give-rating-close {
    position: absolute;
    right: 14px;
    top: 14px;
    margin-bottom: 2px;
    border: none;
    background: var(--white-smoke);
  }
  .icon-x {
    color: var(--black);
    border: none;
    width: 28px;
    height: 28px;
  }
  .give-rating-form-review {
    color: rgba(27, 27, 27, 0.4);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 8px;
    padding-top: 40px;
  }
  .give-rating-p1-stars {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-bottom: 32px;
  }
  .give-rating-p1 {
    color: var(--black);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }
  .give-rating-stars {
    display: flex;
    width: 24px;
    height: 24px;
  }
  .li-star {
    fill: var(--dark-gray);
  }
  .li-unselected {
    fill: var(--dark-gray);
  }
  .li-selected {
    fill: #eea10c;
  }
  .li-star:hover {
    fill: #eea10c;
  }
  .give-rating-email {
    width: 350px;
    height: 48px;
    display: inline-flex;
    padding: 12px 0px 12px 14px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid rgba(27, 27, 27, 0.4);
    color: rgba(27, 27, 27, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  .give-rating-comment {
    width: 350px;
    height: 106px;
    display: flex;
    padding: 12px 0px 0px 14px;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
    border-radius: 15px;
    border: 1px solid rgba(27, 27, 27, 0.4);
    resize: none;
    color: rgba(27, 27, 27, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  .give-rating-btn-send {
    color: var(--white-smoke);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    width: 350px;
    height: 48px;
    padding: 12px 156px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    border: none;
    background: var(--dark-gray);
  }
}
