.header-page {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999999;
  width: 100%;
  margin-top: 40px;
}

.header-main {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.header-burger {
  border: transparent;
  background-color: transparent;
}

.header-social-list {
  display: none;
}

.header-logo {
  color: var(--black);
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
}

.header-nav-list {
  display: none;
}

.header-list-item {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .header-burger {
    display: none;
  }

  .header-main {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-logo {
    font-size: 28px;
    margin-right: 81px;
  }

  .header-social-list {
    display: flex;
    gap: 12px;
  }

  .header-social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(126, 132, 127, 0.2);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-list-link:hover,
  .header-social-list-link:active {
    border: 1px solid var(--dark-gray-hover);
    fill: var(--dark-gray-hover);
  }

  .header-social-list-icon {
    fill: var(--dark-gray);
    opacity: 0.8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-page {
    margin-top: 48px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--dark-gray);
    border-radius: 60px;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 16px;
    width: 211px;
  }

  .header-list-item {
    padding-top: 6px;
    padding-bottom: 6px;
    transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-list-item:hover,
  .header-list-item:active {
    font-weight: 700;
  }

  .is-active {
    background-color: white;
    border-radius: 30px;
    color: var(--black);
    width: 95px;
  }
}
@media screen and (min-width: 1440px) {
  .header-page {
    margin-top: 40px;
  }

  .header-logo {
    margin-right: 400px;
  }
  .header-main {
    padding-left: 48px;
    padding-right: 48px;
  }
}
