@media screen and (max-width: 767px) {
  .hero-container {
    padding: 20px;
  }
  .hero-foto-tag {
    margin-bottom: 20px;
    height: 387px;
    width: 335px;
    border-radius: 30px;
    background: url('../img/hero/mob-hero-min.jpg') center no-repeat;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-foto-tag {
      margin-bottom: 20px;
      height: 387px;
      width: 335px;
      border-radius: 30px;
      background: url('../img/hero/mob-hero@2-min.jpg') center no-repeat;
      background-size: 335px;
    }
  }
  .hero-list {
    display: flex;
    width: 180px;
    gap: 4px;
    flex-wrap: wrap;
    padding-top: 95%;
    padding-left: 8px;
  }

  .hero-list-tag {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid rgba(246, 246, 246, 0.3);
    color: #f6f6f6;
    font-family: 'DM Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
  }

  .hero-title {
    border-radius: 30px;
    background: #fff;
    width: 335px;
  }

  .hero-text {
    color: #1b1b1b;
    font-family: 'DM Sans';
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.89;
    letter-spacing: -0, 02em;
    margin-bottom: 20px;
  }

  .hero-text-part {
    color: #7e847f;
    font-style: italic;
  }

  .hero-text-paragraph {
    color: #1b1b1b;
    font-size: 14px;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0, 01em;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: row;
  }

  .hero-foto-tag {
    background-image: url('/img/hero/tabl-hero-min.jpg');
  }

  .hero-foto-tag {
    margin-bottom: 20px;
    height: 900px;
    width: 248px;
    border-radius: 30px;
    flex-shrink: 0;
    border-radius: 50px 0px 50px 50px;
    background: url('../img/hero/tabl-hero-min.jpg') no-repeat #e8e8e8;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-foto-tag {
      margin-bottom: 20px;
      height: 900px;
      width: 248px;
      flex-shrink: 0;
      border-radius: 50px 0px 50px 50px;
      background: url('../img/hero/tabl-hero@2-min.jpg') no-repeat #e8e8e8;
      background-size: cover;
    }
  }
  .hero-list {
    display: flex;
    width: 250px;
    gap: 8px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 750px;
    padding-left: 10px;
  }

  .hero-list-tag {
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    color: #f6f6f6;
    border: 1px solid rgba(246, 246, 246, 0.3);
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }
  .hero-title {
    align-items: center;
    border-radius: 0px 50px 50px 50px;
    background: #fff;
    width: 488px;
    height: 900px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .hero-text {
    width: 424px;
    color: #1b1b1b;
    font-family: 'DM Sans';
    font-size: 98px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.96;
    letter-spacing: -0, 02em;
    margin-bottom: 25px;
    padding-top: 200px;
  }

  .hero-text-part {
    color: #7e847f;
    font-style: italic;
  }

  .hero-text-paragraph {
    width: 396px;
    color: #1b1b1b;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.01em;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    display: flex;
    flex-direction: row;
  }
  .hero-foto-tag {
    width: 704px;
    background-image: url(../img/hero/desktop-hero-min.jpg);
  }
  .hero-foto-tag {
    margin-bottom: 20px;
    height: 884px;
    width: 704px;
    border-radius: 50px 0px 50px 50px;
    background: url('../img/hero/desktop-hero-min.jpg') center no-repeat;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-foto-tag {
      margin-bottom: 20px;
      height: 884px;
      width: 704px;
      border-radius: 30px;
      background: url('../img/hero/desktop-hero@2-min.jpg') center no-repeat;
      background-size: 704px;
    }
  }
  .hero-list {
    display: flex;
    width: auto;
    max-width: 300px;
    gap: 8px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 750px;
    padding-left: 30px;
  }

  .hero-list-tag {
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    color: #f6f6f6;
    border: 1px solid rgba(246, 246, 246, 0.3);
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  .hero-title {
    align-items: center;
    border-radius: 0px 50px 50px 50px;
    background: #fff;
    width: 704px;
    height: 884px;
  }

  .hero-text {
    width: 639px;
    color: #1b1b1b;
    font-family: 'DM Sans';
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.96;
    letter-spacing: -0, 02em;
    margin-bottom: 20px;
    padding-top: 200px;
  }

  .hero-text-part {
    color: #7e847f;
    font-style: italic;
  }

  .hero-text-paragraph {
    width: 528px;
    color: #1b1b1b;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.01em;
  }
}
