.information-section {
  margin: auto;
  margin-top: 20px;
}

.information-section-img {
  background: url(<path-to-image>),
    lightgray 6.659px 10.025px / 93.932% 155.972% no-repeat, #e8e8e8;
  height: 269px;
  width: 335px;
}

.information-icon-item {
  background-color: #2b2929;
  border-radius: 50%;
  padding: 6px;
  width: 32px;
  height: 32px;
}

.information-section-text-container {
  background: #1b1b1b;
  width: 335px;
  height: 269px;
  padding: 40px 20px;
  display: flex;
  column-gap: 18px;
}

.information-text {
  color: rgba(246, 246, 246, 0.6);
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 1.29;
}

.info-first-text {
  color: #f6f6f6;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  width: 68px;
  margin-bottom: 2px;
}

.info-second-text {
  margin-bottom: 14px;
}

.info-third-text {
  height: 127px;
  width: 230px;
}

@media screen and (min-width: 768px) {
  .information-section-img {
    width: 736px;
    height: 302px;
  }

  .information-section-text-container {
    width: 736px;
    height: 302px;
    padding: 64px 96px 64px 64px;
  }

  .info-first-text {
    font-size: 24px;
    line-height: 1.33;
    width: 81px;
  }

  .info-third-text {
    font-size: 16px;
    line-height: 1.5;
    width: 520px;
    height: 97px;
  }
}

@media screen and (min-width: 1440px) {
  .information-section-img {
    width: 704px;
  }

  .information-section-text-container {
    width: 704px;
    column-gap: 16px;
    padding: 64px;
  }

  .information-section {
    display: flex;
    margin-top: 16px;
  }
}
