.mobile-menu {
  background-color: var(--white-smoke);
  width: 100%;
  height: 100%;
  padding: 20px;

  position: fixed;

  right: 0;
  top: 0;
  z-index: 9999999999;

  transform: translate(110%, -110%);
  transition: transform 250ms ease-out;
}

.mobile-menu.is-open {
  transform: translate(0%, 0%);
}

.menu-wrapper {
  background-color: var(--dark-gray);
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.menu-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav-item-link {
  color: var(--white-smoke);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
}

.menu-close-button {
  background-color: transparent;
  border: none;
}

.menu-close-button-icon {
  stroke: var(--white-smoke);
}

.menu-list-link {
  display: flex;
  padding: 6px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-smoke);
  margin: auto;
}

.menu-list-link.is-active,
.menu-list-link:focus {
  color: var(--black);
  border-radius: 30px;
  background-color: var(--white);
  width: 96px;
  height: 36px;
}

.menu-social-links-item {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(246, 246, 246, 0.2);
}

.mobile-social-links-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-social-link {
  fill: var(--white-smoke);
  opacity: 0.8;
  display: block;
}

.menu-social-links-container {
  align-self: center;
}
