.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.6);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 99999999;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  overflow: auto;
  padding: 40px 20px;
}

@media (max-width: 767px) {
  .modal-wrapper {
    height: 100%;
  }
}

.modal-window {
  position: relative;
  border-radius: 20px;
  background-color: var(--white-smoke);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 20px;
  margin: auto;
  max-width: 335px;
}

@media (min-width: 768px) {
  .modal-window {
    max-width: 716px;
    padding: 40px;
  }
}

@media (min-width: 1440px) {
  .modal-window {
    max-width: 732px;
  }
}

.modal-btn-close {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
}
.modal-btn-close {
  top: 16px;
  right: 16px;
  width: 28px;
  height: 28px;
  background-color: transparent;
}

.modal-btn-close-svg {
  stroke: var(--black);
}

@media (min-width: 768px) {
  .modal-tablet-pc-ver {
    display: flex;
    gap: 24px;
  }
}

.modal-video {
  border-radius: 12px;
  border-radius: 12px;
  background: linear-gradient(
    0deg,
    rgba(27, 27, 27, 0.2) 0%,
    rgba(27, 27, 27, 0.2) 100%
  );
  margin-bottom: 20px;
  margin-top: 2px;
  width: 100%;
  min-height: 258px;
}

@media (min-width: 768px) {
  .modal-video {
    width: 270px;
  }

  .modal-info-container {
    width: 342px;
  }
}

.modal-title {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

@media (min-width: 768px) {
  .modal-title {
    font-size: 24px;
    line-height: 1.3;
  }
}

.modal-rating {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .modal-rating {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

.modal-rating-numbers {
  color: var(--black);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.modal-rating-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.modal-rating-stars-item {
  width: 18px;
  height: 18px;
}

.modal-rating-stars-svg {
  fill: rgba(27, 27, 27, 0.2);
}

.modal-info-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
}

@media (min-width: 768px) {
  .modal-info-list {
    gap: 16px;
  }
}

.modal-info {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(27, 27, 27, 0.2);
  border-top: 1px solid rgba(27, 27, 27, 0.2);
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .modal-info {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }
}

.modal-info-list-title {
  color: rgba(27, 27, 27, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
}

.modal-info-list-title-value {
  color: #1b1b1b;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

.descr {
  display: block;
  color: rgba(27, 27, 27, 0.6);
  font-size: 14px;
  line-height: 1.5;
}

.modal-btns {
  font-size: 14px;
  margin-top: 40px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

@media (min-width: 768px) {
  .modal-btns {
    font-size: 16px;
    margin-top: 32px;
    flex-direction: row;
    gap: 6px;
    justify-content: flex-end;
  }
}

.modal-btn-favorites {
  border-radius: 30px;
  background-color: var(--dark-gray);
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  color: var(--white-smoke);
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.modal-btn-favorites:hover,
.modal-btn-favorites:focus,
.modal-btn-favorites:active {
  background-color: var(--dark-gray-hover);
}

.modal-heart-icon {
  width: 20px;
  height: 20px;
}

.modal-btn-rating {
  display: block;
  border-radius: 30px;
  border: 1px solid var(--black);
  padding: 12px 24px;
  background-color: transparent;
  color: var(--black);
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-rating:hover,
.modal-btn-rating:focus,
.modal-btn-rating:active {
  border: 1px solid var(--dark-gray);
  color: var(--dark-gray);
}

.modal-rating-stars,
.modal-info-list {
  list-style-type: none;
}

.modal-info-list-title-value,
.modal-info-list-title {
  font-weight: 800;
}
