.quote-section {
  margin-bottom: 20px;
}

@media (min-width: 375px) {
  .quote-container {
    display: flex;
    flex-direction: column;
  }
  .quote-for-today {
    width: 335px;
    height: 272px;
    border-radius: 30px;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .quote-title-icon {
    display: flex;
    align-items: center;
  }
  .quote-icon {
    display: flex;
    align-items: center;
  }
  .quote-title {
    padding-left: 14px;
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
  }
  .quote-icon-commas {
    position: absolute;
    top: 40px;
    right: 20px;
  }
  .quote-text {
    color: rgba(246, 246, 246, 0.6);
    font-size: 14px;
    line-height: 1.28;
    padding-left: 46px;
  }
  .quote-author {
    padding-left: 46px;
    color: var(--white);
    font-size: 16px;
    line-height: 1.5;
  }
  .quote-bg-image {
    width: 335px;
    height: 272px;
  }
  .quote-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    background-position: center;
  }
}

@media screen and (min-width: 768px) {
  .quote-section {
    margin-bottom: 16px;
  }
  .quote-for-today {
    width: 736px;
    height: 302px;
    border-radius: 50px;
    gap: 18px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .quote-title {
    padding-left: 18px;
    font-size: 24px;
    line-height: 1.33;
  }
  .quote-text {
    padding-left: 50px;
    font-size: 16px;
    line-height: 1.5;
  }
  .quote-icon-commas {
    top: 32px;
    right: 80px;
  }
  .quote-author {
    padding-left: 50px;
    padding-top: 9px;
  }
  .quote-bg-image {
    width: 736px;
    height: 302px;
  }
  .quote-img {
    border-radius: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .quote-container {
    flex-direction: row;
  }
  .quote-for-today {
    width: 704px;
    height: 302px;
    gap: 18px;
    padding: 64px;
  }
  .quote-icon-commas {
    top: 32px;
    right: 64px;
  }
  .quote-bg-image {
    width: 704px;
  }
}
