<div class="container exercises-gallery-background">
  <h2 class="exercises-gallery-label">Exercises</h2>
  <div class="filter-kit">
    <ul class="exercises-gallery-filter">
      <li>
        <button class="filter-button" type="button" name="muscles">
          Muscles
        </button>
      </li>
      <li>
        <button class="filter-button" type="button" name="body">
          Body parts
        </button>
      </li>
      <li>
        <button class="filter-button" type="button" name="equipment">
          Equipment
        </button>
      </li>
    </ul>
    <form class="filtred-submit">
      <label for="submit-key-request" class="submit-key-form search-tool">
        <input
          type="text"
          class="input-submit-key"
          name="submit-key-request"
          id="filtre-key"
          placeholder="Search"
        />
        <svg class="icon-search" width="18" height="18" aria-label="search">
          <use href="./img/sprite.svg#icon-search"></use>
        </svg>
      </label>
    </form>
  </div>
  <ul class="exercises-gallery-group"></ul>
  <p class="card-error-message error-card-message">
    Unfortunately,
    <span class="no-results-word">no results</span>
    no results were found. You may want to consider other search options to find
    the exercise you are looking for. Our range is wide and you have the
    opportunity to find more options that suit your needs.
  </p>
  <ul class="page-buttons-container"></ul>
</div>
