<div class="container exercises-gallery-background">
  <h2 class="exercises-gallery-label">Exercises</h2>
  <ul class="exercises-gallery-filter">
    <li>
      <button class="filter-button" type="button" name="muscles">
        Muscles
      </button>
    </li>
    <li>
      <button class="filter-button" type="button" name="body">
        Body parts
      </button>
    </li>
    <li>
      <button class="filter-button" type="button" name="equipment">
        Equipment
      </button>
    </li>
  </ul>
  <ul class="exercises-gallery"></ul>
  <ul class="page-buttons-container"></ul>
</div>
