<!-- Section filtred request -->
<section class="filtred-section">
    <div class="container container-filtred-exercise">
        <h2 class="exercise-title">Exercises</h2>
        <div class="search-form-wrpaper">
            <button type="button" class="muscles">Muscles</button>
            <button type="button" class="body-parts">Body parts</button>
            <button type="button" class="equipment">Equipment</button>
            <form class="filtred-submit">
                <label for="submit-key-request" class="submit-key-form">
                    <input type="text" class="input-submit-key" name="submit-key-request" id="filtred-key"
                        placeholder="Search" />
                    <svg class="search-icon" width="18" height="18" aria-label="search">
                        <use href="./img/sprite.svg#icon-search"></use>
                    </svg>
                </label>
            </form>
        </div>
        <ul class="gallery-collection"></ul>
        <ul class="gallery-list"></ul>
        <p class="card-error-message">
            Unfortunately,
            <span class="no-results-word">no results</span>
            no results were found. You may want to consider other search options to
            find the exercise you are looking for. Our range is wide and you have the
            opportunity to find more options that suit your needs.
        </p>
        <div class="page-button-list"></div>
    </div>
</section>