<section class="container quote-section" id="quote">
    <div class="quote-container">
        <div class="quote-for-today">
            <div class="quote-title-icon">
                <svg class="quote-icon" width="32" height="32">
                    <use href="./img/sprite.svg#icon-darkicon"></use>
                </svg>
                <h2 class="quote-title">Quote of the day</h2>
            </div>
            <svg class="quote-icon-commas" width="32" height="32">
                <use href="./img/sprite.svg#icon-inverted-commas"></use>
            </svg>
            <p class="quote-text">
                A lot of times I find that people who are blessed with the most talent
                don't ever develop that attitude, and the ones who aren't blessed in
                that way are the most competitive and have the biggest heart.
            </p>
            <p class="quote-author">Tom Brady</p>
        </div>
        <div class="favorite-quote-pic-and-text">
            <picture class="quote-bg-image">
                <source
                    srcset="
                        ./img/favorites-page/model-desk@2x.jpg 2x,
                        ./img/favorites-page/model-desk.jpg
                    "
                    media="(min-width: 1440px)"
                />
                <source
                srcset="
                    ./img/favorites-page/model-tab@2x.jpg 2x,
                    ./img/favorites-page/model-tab.jpg
                "
                media="(min-width: 768px)"
                />
                <source
                srcset="
                    ./img/favorites-page/model-mob@2x.jpg 2x,
                    ./img/favorites-page/model-mob.jpg
                "
                media="(max-width: 767px)"
                />
                <img
                    class="quote-img"
                    src="./img/favorites-page/model-mob.jpg"
                    alt="quote-bg-image"
                />
            </picture>
            <div class="information-section-text-container">
                <div class="information-section-items">
                    <svg class="information-icon-item" width="20" height="20">
                        <use href="./img/sprite.svg#icon-dumbbell-svg"></use>
                    </svg>
                    <h2 class="information-text info-first-text">110 min</h2>
                    <h3 class="information-text info-second-text">Daily norm of sports</h3>
                </div>
            </div>
        </div>  
    </div>
</section>
  