<section class="container">
    <div class="favorites-page-items">
        <p class="favorites-page-items-header">Favorites</p>
        <div class="favorites-page-items-not-found">
            <img class="dumbbell-img" 
            srcset="
            ./img/favorites-page/dumbbell-tab-desk.png     115w,
            ./img/favorites-page/dumbbell-tab-desk@2x.png  230w,
            ./img/favorites-page/dumbbell-mob.png          85w,
            ./img/favorites-page/dumbbell-mob@2x.png          170w
            "
            sizes="(min-width: 768px) 115px, (max-width: 767px) 85px"
            src="../img/favorites-page/dumbbell-mob.png"
            alt="dumbbell-img"
            />
            <p class="favorites-page-items-not-found-message">
            It appears that you haven't added any exercises to your favorites yet. To get started, you can add exercises that you like to your favorites for easier access in the future.
            </p>
        </div>
        <ul class="favorites-page-items-gallery">
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
            <li class="gallery-list-item" id="???">
                <div class="workout-box">
                    <div class="workout-header">
                        <div class="workout-header-wrap">
                            <span class="workout-title">WORKOUT</span>
                            <button type="button" class="delete-workout-btn">                            
                                <svg class="trash-icon" width="16" height="16" aria-label="trash-icon">
                                    <use href="./img/sprite.svg#icon-trash"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="start-button-wrap">
                            <button type="button" class="start-button">Start
                                <svg class="start-arrow-icon" width="14" height="14" aria-label="start-arrow">
                                    <use href="./img/sprite.svg#icon-arrow"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="workout-type">
                        <svg class="run-man-icon" width="24" height="24" aria-label="run-man">
                            <use href="../img/sprite.svg#icon-lighticon"></use>
                        </svg>
                        <h3 class="workout-name">Air bike</h3>
                    </div>
                    <div class="workout-description">
                        <p class="description-item-name">Burned calories:
                            <span class="description-item-value">312 / 3 min</span>
                        </p>
                        <p class="description-item-name">Body part:
                            <span class="description-item-value">Waist</span>
                        </p>
                        <p class="description-item-name">Target:
                        <span class="description-item-value">Abs</span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>