<footer class="footer container">
  <div class="footer-container">
    <div class="footer-main-info-container">
      <div class="footer-logo-social">
        <a class="footer-logo footer-link" href="./index.html"> energy.flow </a>
        <div class="footer-social">
          <ul class="footer-social-list footer-list">
            <li class="footer-social-item">
              <a
                class="footer-social-card"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="footer-social-icons"
                  width="28"
                  height="28"
                  aria-label="facebook icon"
                >
                  <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                class="footer-social-card"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="footer-social-icons"
                  width="28"
                  height="28"
                  aria-label="instagram icon"
                >
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                class="footer-social-card"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="footer-social-icons"
                  width="28"
                  height="28"
                  aria-label="youtube icon"
                >
                  <use href="./img/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-page">
        <div class="footer-slogan">
          <p class="footer-text">
            Transforming your <span class="footer-text-item">body</span> shape
            with us
          </p>
        </div>
        <div class="footer-modal">
          <p class="footer-modal-name">
            Subscribe and learn about new exercises!
          </p>
          <form class="footer-modal-form">
            <label class="footer-modal-form-label">
              <input
                class="footer-modal-email"
                name="email"
                type="email"
                placeholder="Email"
                aria-label="mail"
                pattern="[\w]+(\.[\w]+)*@([\w]+\.)+[a-zA-Z]{2,7}"
                required
              />
            </label>
            <button class="footer-modal-button" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-terms-container">
      <p class="footer-terms-text">Energy Flow. All rights reserved.</p>
      <ul class="privacy">
        <li>
          <a class="privacy-item" href="./privacy-policy.html"
            >Privacy Policy</a
          >
          /
          <a class="privacy-item" href="./terms-of-service.html"
            >Terms of Service</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
