<header class="header-page">
  <div class="header-main container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">energy.flow</a>
      <ul class="header-nav-list">
        <li class="header-list-item header-home header-navigation-home">
          <a class="header-list-link is-active" href="./index.html">Home</a>
        </li>
        <li
          class="header-list-item header-favorites header-navigation-favorites"
        >
          <a class="header-list-link" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social-list">
      <li class="header-social-list-item">
        <a
          href="https://www.facebook.com/"
          class="header-social-list-link"
          target="_blank"
        >
          <svg
            class="header-social-list-icon"
            width="28"
            height="28"
            fill="#7E847F"
          >
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a
          href="https://www.instagram.com/"
          class="header-social-list-link"
          target="_blank"
        >
          <svg
            class="header-social-list-icon"
            width="28"
            height="28"
            fill="#7E847F"
          >
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a
          href="https://www.youtube.com/"
          class="header-social-list-link"
          target="_blank"
        >
          <svg
            class="header-social-list-icon"
            width="28"
            height="28"
            fill="#7E847F"
          >
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="header-burger" type="button">
      <svg width="32" height="16">
        <use href="./img/sprite.svg#icon-align-justify"></use>
      </svg>
    </button>
  </div>
</header>
