<section class="modal-give-rating">
    <button class="give-rating-close" type="button">
      <svg class="icon-x" width="24" height="24" aria-label="modal close icon">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  
  <form class="give-rating-form">
    <p class="give-rating-form-review">Rating</p>
    <div class="give-rating-p1-stars">
      <p1 class="give-rating-p1">0.0</p1>
      <ul class="give-rating-stars"></ul>
    </div>

    <input
      class="give-rating-email"
      type="email"
      name="email"
      placeholder="Email"
      pattern="[\w]+(\.[\w]+)*@([\w]+\.)+[a-zA-Z]{2,7}"
    />

    <textarea
      class="give-rating-comment"
      name="comment"
      placeholder="Your comment"
    ></textarea>

    <button class="give-rating-btn-send" type="submit">Send</button>
  </form>
</section>
<button class="give-rating">give-rating</button>

<script type="module" src="../js/give-rating.js"></script>


<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-foto-tag">
      <ul class="hero-list">
        <li class="hero-list-tag">#Sport</li>
        <li class="hero-list-tag">#Healthy</li>
        <li class="hero-list-tag">#Workout</li>
        <li class="hero-list-tag">#Diet</li>
      </ul>
    </div>
    <div class="hero-title">
      <h1 class="hero-text">
        Get <span class="hero-text-part">Body</span> in shape, Stay healthy
      </h1>
      <p class="hero-text-paragraph">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>
  </div>
</section>
