<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-foto-tag">
      <ul class="hero-list">
        <li class="hero-list-tag">
          <a
            href="https://www.instagram.com/explore/tags/sport/"
            target="_blank"
          >
            #Sport
          </a>
        </li>
        <li class="hero-list-tag">
          <a
            href="https://www.instagram.com/explore/tags/healthy/"
            target="_blank"
          >
            #Healthy
          </a>
        </li>
        <li class="hero-list-tag">
          <a
            href="https://www.instagram.com/explore/tags/workout/"
            target="_blank"
          >
            #Workout
          </a>
        </li>
        <li class="hero-list-tag">
          <a
            href="https://www.instagram.com/explore/tags/diet/"
            target="_blank"
          >
            #Diet
          </a>
        </li>
      </ul>
    </div>
    <div class="hero-title">
      <h1 class="hero-text">
        Get <span class="hero-text-part">Body</span> in shape, Stay healthy
      </h1>
      <p class="hero-text-paragraph">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
      <audio id="myAudio" controls>
        <source src="./audio/motivation.m4a" type="audio/mp4" />
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</section>
