<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-foto-tag">
      <ul class="hero-list">
        <li class="hero-list-tag">#Sport</li>
        <li class="hero-list-tag">#Healthy</li>
        <li class="hero-list-tag">#Workout</li>
        <li class="hero-list-tag">#Diet</li>
      </ul>
    </div>
    <div class="hero-title">
      <h1 class="hero-text">
        Get <span class="hero-text-part">Body</span> in shape, Stay healthy
      </h1>
      <p class="hero-text-paragraph">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>
  </div>
</section>
