<section class="information-section">
  <div class="information-section-img-container">
    <img class="information-section-img" src="" alt="" />
  </div>
  <div>
    <svg></svg>
    <p>110 min</p>
    <p>Daily norm of sports</p>
    <p>
      The World Health Organization recommends at least 150 minutes of
      moderate-intensity aerobic physical activity throughout the week for
      adults aged 18-64. However, what happens if we adjust that number to 110
      minutes every day?
    </p>
  </div>
</section>
