<section class="information-section container">
  <h2 class="visually-hidden">Information</h2>
  <div class="information-section-img-container"></div>
  <div class="information-section-text-container section">
    <div class="information-section-icon">
      <svg class="information-icon-item" width="20" height="20">
        <use href="./img/sprite.svg#icon-fluent_food-24-filled"></use>
      </svg>
    </div>
    <div class="information-section-text">
      <p class="information-text info-first-text">110 min</p>
      <p class="information-text info-second-text">Daily norm of sports</p>
      <p class="information-text info-third-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day?
      </p>
    </div>
  </div>
</section>