<!-- ========== Mobile menu ========== -->

<div class="mobile-menu">
  <div class="menu-wrapper section">
    <div class="menu-header-wrapper">
      <a class="menu-nav-item-link" href="./index.html">energy.flow</a>
      <button class="menu-close-button" type="button">
        <svg class="menu-close-button-icon" width="20" height="20" aria-label="close-button">
          <use href="./img/sprite.svg#icon-x"></use>
        </svg>
      </button>
    </div>

    <nav class="menu-nav">
      <ul class="menu-nav-list">
        <li class="menu-nav-list-item header-navigation-home">
          <a class="menu-list-link menu-list-link-home is-active" href="./index.html">Home</a>
        </li>
        <li class="menu-nav-list-item header-navigation-favorites">
          <a class="menu-list-link menu-list-link-favorites" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>

    <div class="menu-social-links-container">
      <ul class="list mobile-social-links-list">
        <li class="menu-social-links-item">
          <a class="social-links-link" href="https://www.facebook.com" target="_blank">
            <svg class="menu-social-link" width="25" height="25">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="menu-social-links-item">
          <a class="social-links-link" href="https://www.instagram.com" target="_blank">
            <svg class="menu-social-link" width="25" height="25">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="menu-social-links-item">
          <a class="social-links-link" href="https://www.youtube.com" target="_blank">
            <svg class="menu-social-link" width="25" height="25">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>