<div class="backdrop is-open">
  <div class="modal-window">
    <button class="modal-btn-close" type="button">
      <svg class="modal-btn-close-svg" width="24" height="24">
        <use href="../img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="modal-tablet-pc-ver">
      <div class="modal-video">
        <img class="imgGif" src="" />
      </div>
      <div>
        <h1 class="modal-title"></h1>
        <div class="modal-rating">
          <p class="modal-rating-numbers"></p>
          <ul class="modal-rating-stars">
            <li>
              <svg class="modal-rating-stars-svg" width="18" height="18">
                <use href="../img/sprite.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li>
              <svg width="18" height="18">
                <use href="../img/sprite.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li>
              <svg width="18" height="18">
                <use href="../img/sprite.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li>
              <svg width="18" height="18">
                <use href="../img/sprite.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li>
              <svg width="18" height="18">
                <use href="../img/sprite.svg#icon-Star-1"></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="modal-info">
          <ul class="modal-info-list">
            <li>
              <h3 class="modal-info-list-title">Target</h3>
              <p class="modal-info-list-title-value"></p>
            </li>
            <li>
              <h3 class="modal-info-list-title">Body Part</h3>
              <p class="modal-info-list-title-value"></p>
            </li>
            <li>
              <h3 class="modal-info-list-title">Equipment</h3>
              <p class="modal-info-list-title-value"></p>
            </li>
            <li>
              <h3 class="modal-info-list-title">Popular</h3>
              <p class="modal-info-list-title-value"></p>
            </li>
            <li>
              <h3 class="modal-info-list-title">Burned Calories</h3>
              <p class="modal-info-list-title-value"></p>
            </li>
          </ul>
        </div>
        <p class="descr"></p>
        <div class="modal-btns">
          <button class="modal-btn-favorites">Add to favorites</button>
          <button class="modal-btn-rating">Give a rating</button>
        </div>
      </div>
    </div>
  </div>
</div>