<section class="container quote-section" id="quote">
  <div class="quote-container">
    <div class="quote-for-today">
      <div class="quote-title-icon">
        <svg class="quote-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-darkicon"></use>
        </svg>
        <h2 class="quote-title">Quote of the day</h2>
      </div>
      <svg class="quote-icon-commas" width="32" height="32">
        <use href="./img/sprite.svg#icon-inverted-commas"></use>
      </svg>
      <p class="quote-text">
        A lot of times I find that people who are blessed with the most talent
        don't ever develop that attitude, and the ones who aren't blessed in
        that way are the most competitive and have the biggest heart.
      </p>
      <p class="quote-author">Tom Brady</p>
    </div>
    <picture class="quote-bg-image">
      <source
        srcset="
          ./img/quote/quote-desktop-2x.jpg 2x,
          ./img/quote/quote-desktop-1x.jpg
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/quote/quote-tablet-2x.jpg 2x,
          ./img/quote/quote-tablet-1x.jpg
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/quote/quote-mobile-2x.jpg 2x,
          ./img/quote/quote-mobile-1x.jpg
        "
        media="(min-width: 320px)"
      />
      <img
        class="quote-img"
        src="./img/quote/quote-mobile-1x.jpg"
        alt="quote-bg-image"
      />
    </picture>
  </div>
</section>
