<section class="quote-section" id="quote">
  <div class="container quote-container">
    <div class="quote-for-today">
      <h2 class="quote-title">Quote of the day</h2>
      <p class="quote-text"></p>
      <p class="quote-autor"></p>
    </div>
    <picture class="quote-bg-image">
      <!-- <source
        srcset="./img/desktop-2x.jpg 2x, ./img/deskktop-1x.jpg"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/tablet-2x.jpg 2x, ./img/tablet-1x.jpg"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/2x.jpg 2x, ./img/1x.jpg"
        media="(min-width: 320px)"
      />
      <img class="quote-img" src="./img/-1x.jpg" alt="" /> -->
    </picture>
  </div>
</section>
